body {
    margin: 0;
}

:root {
    --white-base-color: #fff;
    --black-base-color: #1C1C1C;
    --gray: #868686;
    --grey2: #e6e6e6;
    --gray-3: #323232;
    --grey-optional: #eaeaea;
}

.container {
    max-width: 1400px;
    padding: 0;
}

main {
    margin-bottom: 130px;
}

h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 112%;
    letter-spacing: -0.01em;
    margin-top: 140px;
}

.input-container {
    position: relative;
    margin: 50px auto;
    width: 36rem;
}

.input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--grey2);
    padding: 5px 0;
    background-color: transparent;
    outline: none;
}

.input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--grey);
    transition: all 0.3s ease;
    pointer-events: none;
}

.input-container input[type="text"]:focus~.label,
.input-container input[type="text"]:valid~.label {
    top: -20px;
    font-size: 16px;
    color: #333;
}

.input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #333;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

.input-container input[type="text"]:focus~.underline,
.input-container input[type="text"]:valid~.underline {
    transform: scaleX(1);
}

.search__button {
    position: absolute;
    right: 0.1rem;
    border: none;
    background-color: #fff;
    margin-top: .1em;
}

.search__button:hover {
    cursor: pointer;
}

.search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: var(--grey);
}

.firstHeader {
    display: flex;
    align-items: center;
}

.secondHeader {
    background-color: var(--black-base-color);
    height: 88px;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.secondHeader a {
    color: var(--white-base-color);
    text-decoration: none;
}

.modal-content {
    background-color: #000;
    color: #fff;
}

.modal-header,
.modal-body {
    border: none;
    margin-top: 50px;
}

.modal-body ::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar {
    width: 0;
}

.custom-header {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.custom-header img {
    height: 50px;
}

.link-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.header-nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.header-nav a {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.01em;
    margin: 0 35px;
}

.btn-close {
    filter: invert(1);
}


.hamburger {
    padding: 10px 15px;
    border: 0;
    background: none;
    cursor: pointer;
}

.hamburger-box {
    width: 35px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    background-color: #ffffff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    transition: all 0.4s ease-in-out;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner {
    top: 50%;
    transform: translateY(-50%);
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    top: 10px;
}

/* Анимация для переключения состояния гамбургер-меню */
.hamburger.active .hamburger-inner {
    background-color: transparent;
}

.hamburger.active .hamburger-inner::before {
    transform: translateY(10px) rotate(45deg);
}

.hamburger.active .hamburger-inner::after {
    transform: translateY(-10px) rotate(-45deg);
}

.navigationSidebar {
    width: 40%;
    overflow-y: auto;
    display: none;
}

.navigationSidebar ul {
    list-style: none;
    padding: 0;
}

.navigationSidebar ul li a {
    font-weight: 500;
    font-size: 21px;
    line-height: 124%;
    letter-spacing: -0.01em;
    color: var(--gray);
    margin-bottom: 20px;
}

.navigationSidebar ul li a:hover {
    color: var(--white-base-color);
}

.navigationSidebar ul li a.active {
    color: var(--white-base-color);
}

.left {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.left a {
    color: var(--white-base-color);
    text-decoration: none;
    position: relative;
    transition: color 300ms;
}

.left a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: var(--white-base-color);
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 300ms ease-in-out;
}

.left a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.left a:hover {
    color: var(--white-base-color);
}

.secondHeaderText {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.video-container {
    position: relative;
    width: 100%;
    height: 870px;
    /* или auto, если высота должна определяться контентом */
    overflow: hidden;
}

.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text {
    font-weight: bold;
    /* Если MontserratBold не доступен */
    color: white;
    font-size: 60px;

    margin-bottom: 20px;
    /* Отступ между текстом и ссылкой */
}

.textSmall {
    font-weight: 500;
    font-size: 21px;
    line-height: 124%;
    letter-spacing: -0.01em;
    color: var(--white-base-color);
}

.textSmallBlack {
    font-weight: 500;
    font-size: 20px;
    line-height: 124%;
    letter-spacing: -0.01em;
    color: var(--black-base-color);
}

h6 {
    font-weight: 500;
    font-size: 21px;
    line-height: 124%;
    letter-spacing: -0.01em;
}

a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    max-width: 800px;
    display: inline-block;
}

.bigCard {
    width: 790px;
    height: 450px;
    background-color: #000;
    color: #fff;
    padding: 40px 47px;
}

.cardNumbers {
    width: 470px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.card-title {
    font-size: 16px;
    margin-bottom: 20px;
    color: var(--gray);
}

.card-text {
    font-weight: 500;
    font-size: 48px;
    line-height: 112%;
    letter-spacing: -0.01em;
    margin-bottom: 0;
}

.card-text-small {
    margin-top: 10px;
    font-size: 18px;
    line-height: 111%;
    color: var(--gray);
    margin-bottom: 0;
}

.card-subtitle {
    font-size: 36px;
    line-height: 112%;
    margin-bottom: 40px;
}

.detailed {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.01em;
    width: 695px;
    height: 64px;
    border-top: 1px solid var(--gray-3);
    border-bottom: 1px solid var(--gray-3);
    display: flex;
    align-items: center;
}

.smallCard {
    width: 590px;
    height: 450px;
    background-color: #000;
    color: #fff;
    padding: 40px 47px;
}

.upCards {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.downCards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 140px;
}

.cardNumbersSmall {
    width: 470px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 56.5px;
}

.detailedSmall {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.01em;
    width: 493px;
    height: 64px;
    border-top: 1px solid var(--gray-3);
    border-bottom: 1px solid var(--gray-3);
    display: flex;
    align-items: center;
}

.socialMediaBackground {
    background-color: var(--black-base-color);
    height: 250px;
    width: 100%;
}

.socialMedia {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 70px;
}

.socialMedia p {
    color: var(--white-base-color);
    font-weight: 500;
    font-size: 48px;
    line-height: 112%;
    letter-spacing: -0.01em;
}

.mediaIcons a {
    margin-right: 20px;
}

.mediaIcons a:last-child {
    margin-right: 0;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-right: -150px;

    .card {
        display: inline-block;
        border: none;
        margin-right: 20px;
    }
}

.card img {

    transition: opacity 0.3s ease-in-out;
}

.card .hover-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 92%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card:hover .hover-img {
    opacity: 1;
}

.card:hover .default-img {
    opacity: 0;
}

.scrolling-wrapper::-webkit-scrollbar {
    width: 0;
}

.scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
}

.heading {
    margin-top: 140px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 112%;
    letter-spacing: -0.01em;
    margin: 0;
}

.heading p {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.01em;
}

.scroll-text {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: -0.01em;
}

.news-scrolling-wrapper {
    display: flex;
    justify-content: space-between;
}

.newCard {
    width: 336px;
}

.date {
    font-weight: 400;
    font-size: 16px;
    color: var(--gray);
}

.textNew {
    font-weight: 500;
    font-size: 21px;
    line-height: 124%;
    letter-spacing: -0.01em;
}


.faq {
    background: #fff;
    color: var(--black-base-color);
    margin-top: 140px;
    width: 100%;
    min-height: 30rem;
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;
}

.faq h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 112%;
    letter-spacing: -0.01em;
}

.hero {
    display: flex;
    justify-content: center;
    transform: translateY(-55%);
}

.hero .img {
    filter: drop-shadow(0rem 1.5rem rgba(0, 0, 0, 0.1));
    transition: 0.3s ease-out;
}

.faq:hover .img {
    filter: drop-shadow(0rem 2.5rem rgba(0, 0, 0, 0.1));
}

.title {
    text-align: center;
    font-size: 5rem;
    padding: 1rem;
}

.acc-container {
    width: 800px;
}

.acc-btn {
    width: 100%;
    padding: 1.6rem 2rem;
    font-size: 1.6rem;
    cursor: pointer;
    background: inherit;
    border: none;
    outline: none;
    text-align: left;
    transition: all 0.5s linear;
    font-weight: 500;
}

.acc-btn:after {
    content: "\2192";
    color: #000;
    float: right;
    transition: all 0.3s linear;
}

.acc-btn.is-open:after {
    transform: rotate(90deg);
}

.acc-content {
    max-height: 0;
    color: var(--black-base-color);
    margin: 0 2rem;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    border-bottom: 1px solid #ccc;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.01em;
}

.footer {
    background-color: var(--black-base-color);
    color: var(--white-base-color);
    padding: 40px 0;
}

.footer a {
    color: var(--white-base-color);
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .footer-logo {
    margin-bottom: 20px;
}

.footer .social-icons a {
    margin-right: 10px;
}

.footer .footer-bottom {
    border-top: 1px solid var(--gray-3);
    padding-top: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer .footer-column {
    margin-bottom: 20px;
}

.footer .footer-column h5 {
    margin-bottom: 15px;
}

.footer h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 111%;
}

.footer a {
    font-weight: 400;
    font-size: 16px;
    color: var(--gray);
    margin-bottom: 18px;
}

.leftBottom {
    width: 65%;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--gray);
}

.right {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: right;
    color: var(--gray);
}

.info {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
}

.sidebar {
    width: 25%;
    background-color: #ffffff;
    overflow-y: auto;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li a {
    font-weight: 500;
    font-size: 18px;
    line-height: 111%;
    color: var(--gray);
}

.sidebar ul li a:hover {
    color: var(--black-base-color);
}

.sidebar ul li a.active {
    color: var(--black-base-color);
}

.sidebar a {
    font-weight: 500;
    font-size: 18px;
    line-height: 111%;
    color: var(--gray);
}

.sidebar a:hover {
    color: var(--black-base-color);
}

.sidebar a.active {
    color: var(--black-base-color);
}


.content {
    flex: 1;
    width: 60%;
    max-width: 960px;
}

.content-section {
    display: none;
}

.content-section.active {
    display: block;
}

.content-section p,
li {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.01em;
}

.content-section h5 {
    font-weight: 500;
    font-size: 21px;
    line-height: 124%;
    letter-spacing: -0.01em;
    margin-top: 30px;
}

.small {
    font-weight: 400;
    font-size: 16px;
    color: var(--gray);
}

.specialtiesCard {
    height: 370px;
    width: 335px;
    background-color: var(--black-base-color);
    margin-bottom: 20px;
    box-sizing: border-box;
    white-space: wrap;
}

.specialCardText {
    padding: 18px;
    display: flex;
    flex-direction: column;
    height: 55%;
    /* Убедитесь, что это 100% от высоты .specialtiesCard */
    box-sizing: border-box;
}

.budget {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--white-base-color);
}

.specialName {
    font-weight: 500;
    font-size: 21px;
    line-height: 124%;
    letter-spacing: -0.01em;
    color: var(--white-base-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.detailedSpecialities {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.01em;
    width: 300px;
    height: 40px;
    border-top: 1px solid var(--gray-3);
    border-bottom: 1px solid var(--gray-3);
    display: flex;
    align-items: center;
    margin-top: auto;
}

.default {
    display: block;
    width: 100%;
}

.hov {
    display: none;
    width: 100%;
}

.specialtiesCard:hover .hov {
    display: block;
}

.specialtiesCard:hover .default {
    display: none;
}

.mobileHeader {
    display: none;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--white-base-color);
}

.docs {
    border-bottom: 1.30px solid var(--black-base-color);
    width: 100%;
    margin-top: 20px;
}

.docs p {
    font-weight: 400;
    font-size: 16px;
    color: var(--gray);
    margin-left: 30px;
}

.document {
    color: var(--black-base-color);
    font-weight: 500;
    font-size: 21px;
    line-height: 124%;
    letter-spacing: -0.01em;
    margin-bottom: 10px;
    width: 100%;
    text-decoration: none;
    max-width: 100%;
}

.document:before {
    content: url('media/Icon_Doc.png');
    margin-right: 10px;
    width: 20px;
}

.document::after {
    content: "\2192";
    color: #000;
    float: right;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 70px;
}

th,
td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: black;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.acc-container-docs {
    width: 100%;
}

.acc-btn-docs {
    width: 100%;
    padding: 25px 0rem;
    font-weight: 500;
    font-size: 21px;
    line-height: 124%;
    letter-spacing: -0.01em;
    background: inherit;
    border: none;
    outline: none;
    text-align: left;
    transition: all 0.5s linear;
}

.acc-btn-docs:after {
    content: "\2192";
    color: #000;
    float: right;
    transition: all 0.3s linear;
}

.acc-btn-docs::before {
    content: url('media/moreDocs.png');
    margin-right: 10px;
    width: 20px;
}

.acc-btn-docs.is-open:after {
    transform: rotate(90deg);
}

.acc-content-docs {
    max-height: 0;
    color: var(--black-base-color);
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    border-bottom: 1.30px solid var(--black-base-color);
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.01em;
}


.acc-content-docs h5 {
    font-weight: 500;
    font-size: 21px;
    line-height: 124%;
    letter-spacing: -0.01em;
}

.acc-content-docs a {
    color: var(--black-base-color);
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.acc-content-docs a:hover {
    border-bottom: 1px solid var(--black-base-color);
}

.obrazTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0;
}


.obrazTable th,
td {
    background-color: white;
    color: black;
    padding: 6px;
    text-align: left;
    vertical-align: top;
}

.scrolling-wrapper-specialites {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-right: -50px;

    .specialtiesCard {
        display: inline-block;
        border: none;
        margin-right: 20px;
    }
}

.card-skill {
    padding: 34px 34px 52px 34px;
    width: 470px;
    height: 240px;
    background: var(--black-base-color);
    border-radius: 0;
}

.card-skill-long {
    padding: 34px 34px 52px 34px;
    width: 960px;
    height: 240px;
    background: var(--black-base-color);
    border-radius: 0;
}

.icon {
    margin-bottom: 40px;
    width: 42px;
    height: 42px;
}

.card-txt {
    font-weight: 500;
    font-size: 21px;
    line-height: 124%;
    letter-spacing: -0.01em;
    color: var(--white-base-color);
}

.explanatoryText {
    margin-bottom: 30px;
}

.infoSpecialites {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-top: 40px;
}

.infoSpecialites p {
    font-weight: 400;
    font-size: 16px;
}

.hero-section {
    background-color: var(--black-base-color);
    color: #fff;
    padding-top: 70px;
    height: 570px;
    /* text-align: center; */
}

.hero-section h1 {
    font-weight: 600;
    font-size: 64px;
    line-height: 100%;
    margin-top: 0;
}

.programNumber {
    font-weight: 500;
    font-size: 21px;
    line-height: 124%;
    letter-spacing: -0.01em;
    margin-top: 15px;
}

.hero-section .btn-apply {
    color: #fff;
    text-decoration: none;
    font-size: 1.25rem;
    display: inline-block;
}

.btn-apply {
    margin-top: 140px;
}


@media (max-width: 992px) {

    .container {
        padding-right: calc(var(--bs-gutter-x)* .5);
        padding-left: calc(var(--bs-gutter-x)* .5);
    }

    .firstHeader,
    .secondHeader {
        display: none;
    }

    .mobileHeader {
        background-color: var(--black-base-color);
        width: 100%;
        height: 55px;
        display: block;
    }

    .mobileHeaderObjects {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .inputGamburger {
        display: flex;
    }

    .inputMobile {
        position: relative;
        box-sizing: border-box;
        width: fit-content;
    }

    .mainbox {
        box-sizing: border-box;
        position: relative;
        width: 230px;
        height: 35px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        border-radius: 160px;
        transition: all 0.3s ease;
    }

    .checkbox:focus {
        border: none;
        outline: none;
    }

    .checkbox:checked {
        right: 10px;
    }

    .checkbox:checked~.mainbox {
        width: 50px;
    }

    .checkbox:checked~.mainbox .search_input {
        width: 0;
        height: 0px;
    }

    .checkbox:checked~.mainbox .iconContainer {
        padding-right: 8px;
    }

    .checkbox {
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 17px;
        top: 10px;
        z-index: 9;
        cursor: pointer;
        appearance: none;
    }

    .search_input {
        box-sizing: border-box;
        height: 100%;
        width: 170px;
        background-color: transparent;
        border: none;
        outline: none;
        padding-bottom: 4px;
        padding-left: 10px;
        font-size: 1em;
        color: white;
        transition: all 0.3s ease;
    }

    .search_input::placeholder {
        color: rgba(255, 255, 255, 0.776);
    }

    .iconContainer {
        box-sizing: border-box;
        width: fit-content;
        transition: all 0.3s ease;
    }

    .search_icon {
        box-sizing: border-box;
        fill: white;
        font-size: 1.3em;
    }

    .video-container {
        height: 500px;

    }

    .text {
        font-weight: 600;
        font-size: 20px;
        line-height: 105%;
    }

    .textSmall {
        font-weight: 400;
        font-size: 13px;
        line-height: 120%;
    }

    .textLink {
        font-weight: 500;
        font-size: 15px;
        line-height: 120%;
    }

    h1 {
        font-weight: 600;
        font-size: 20px;
        line-height: 105%;
        margin-top: 40px;
    }

    .bigCard,
    .smallCard {
        padding: 16px 13px;
        width: 339px;
        height: 217px;
    }

    .card-title {
        display: none;
    }

    .card-subtitle {
        font-weight: 600;
        font-size: 17px;
        line-height: 88%;
    }

    .card-text {
        font-weight: 600;
        font-size: 27px;
        line-height: 78%;
    }

    .card-text-small {
        font-weight: 400;
        font-size: 11px;
        line-height: 136%;
        color: var(--gray);
    }

    .detailed,
    .detailedSmall {
        font-weight: 500;
        font-size: 15px;
        line-height: 120%;
        width: 314px;
        height: 38px;
    }

    .cardNumbers,
    .cardNumbersSmall {
        width: 314px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 43px;
    }

    .cardsvg {
        height: 49px;
    }

    .scrolling-wrapper-cards {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        display: flex;
        -webkit-overflow-scrolling: touch;
    }

    .upCards,
    .downCards {
        display: flex;
        white-space: nowrap;
    }

    .upCards .bigCard,
    .upCards .smallCard,
    .downCards .bigCard,
    .downCards .smallCard {
        display: inline-block;
        border: none;
        margin-right: 10px;
    }

    .scrolling-wrapper-cards::-webkit-scrollbar {
        width: 0;
    }

    .downCards,
    .upCards {
        margin: 0;
    }

    .socialMediaBackground {
        height: 85px;
    }

    .socialMedia {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .socialMedia p {
        font-weight: 600;
        font-size: 17px;
        line-height: 88%;
        width: 165px;
        margin: 0;
    }

    .mediaIcons img {
        width: 33px;
        height: 33px;
    }

    .mediaIcons a {
        margin-right: 12px;
    }

    .heading h1 {
        font-weight: 600;
        font-size: 20px;
        line-height: 105%;
    }

    .heading p {
        font-weight: 400;
        font-size: 11px;
        line-height: 120%;
        letter-spacing: -0.01em;
        text-align: right;
        margin: 0;
    }

    .scrolling-wrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        margin-right: 0px;

        .card {
            display: inline-block;
            border: none;
            margin-right: 10px;
        }
    }

    .default-img {
        height: 200px;
    }

    .card .hover-img {
        height: 200px;
    }

    .scroll-text {
        font-weight: 500;
        font-size: 15px;
        line-height: 100%;
    }

    .heading {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .news-scrolling-wrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        margin-right: 0px;
        display: flex;
    }

    .newCard {
        display: inline-block;
        border: none;
        margin-right: 10px;
        width: 300px;
        vertical-align: top;
        display: flex;
        flex-direction: column;
    }

    .newCard img {
        width: 165px;
        height: 115px;
    }

    .date {
        font-weight: 400;
        font-size: 11px;
    }

    .textNew {
        font-weight: 500;
        font-size: 15px;
        line-height: 100%;
    }

    .faq {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-top: 40px;
        min-height: 7rem;
        margin-bottom: 40px;
    }

    .faq h1 {
        font-weight: 600;
        font-size: 20px;
        line-height: 105%;
        margin-top: 0;
    }

    .acc-container {
        width: 100%;
    }

    .acc-btn {
        width: 100%;
        cursor: pointer;
        background: inherit;
        border: none;
        outline: none;
        text-align: left;
        transition: all 0.5s linear;
        font-weight: 500;
        font-size: 15px;
        line-height: 100%;
        padding: 10px;
        padding-left: 0;
    }

    .acc-btn:after {
        content: "\2192";
        color: #000;
        float: right;
        transition: all 0.3s linear;
    }

    .acc-btn.is-open:after {
        transform: rotate(90deg);
    }

    .acc-content {
        max-height: 0;
        color: var(--black-base-color);
        margin: 0 0rem;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        border-bottom: 1px solid #ccc;
        font-weight: 400;
        font-size: 13px;
        line-height: 120%;
    }

    .sidebar {
        display: none;
    }
}